.loanType{
height: 25px;
}

.loanSelector{
height: 325px;
}

.items{
}
.selectLoan{

}
.selectLoan:hover{
    cursor: pointer;

}

.loanSelectorHeader{
background-color: aqua;
}
.loanSelectorHeader h2{

}
.button{
}
    .button a{
    
    }


.loanInformation{

}

.h2Loan{

}
.loanTypeDisplayClass{
 
}

.loanTypeDisplay{


}

.loanDetails{


}
