.ContainerForCalculator{
    display: flex;
    justify-content: space-between;
}

.loanType{
height: 25px;
}

.loanSelector{
height: 90%;
width: 33.3%;
}

.resultBox{
    margin-top: 20%;
}
.button:hover{
cursor: pointer;
}
.selectLoan{
    display: flex;
    align-content: center;
    justify-content: center;
    justify-items: center;
}
.borrowAmount{font-size: medium;}

.selectLoan:hover{
    cursor: pointer;
    background-color: white;
    margin:6px;

}

.loanSelectorHeader{
background-color: aqua;
}
.loanType{ padding-top: 3px;
    /*color:red;*/
    font-size: 12px;
}
.loanInformation{
    border: solid;
    border-top: double;
    }
    .resultBox, .loanSelector, .loanCalDiv{
        margin-left: 25px;
        margin-right: 25px;
    }
   

    @media (max-width: 900px) {
        .ContainerForCalculator{
            display: block;
            width: 70%;
            margin: 0 auto;
        }
        .resultBox, .loanSelector, .loanCalDiv{
            margin-left: 0;
            margin-right: 0;
        }

    
    }

