.loanType{
height: 25px;
}

.loanSelector{
height: 325px;
width: 33.3%;
}

.resultBox{
    margin-top: 20%;
}
.button:hover{
cursor: pointer;
}


.selectLoan:hover{
    cursor: pointer;

}

.loanSelectorHeader{
background-color: aqua;
}
.loanType{ padding-top: 3px;
    color:red;
    font-size: 12px;
}
.loanInformation{
    border: solid;
    border-top: double;
    }

