.sectionMargin{
    margin: 10px;
}
.imgText{
    top: 300px;
    width: 3000px;
    background-color: rgba(0, 0, 0, 0.555);
    color: rgb(240, 231, 231);
    height: 500px;

}

.textSize{
 font-size: medium;
}