.imageSize{
    width: 800px;
    height: 620px;
    border:1px black solid ;
}

.promoFormat{
    color: rgb(104, 91, 21);
    text-decoration: underline;
}

.imageAndText{
    margin: 0 150px;
}

@media (max-width: 1000px){
    .imageSize{
        width: 400px;
    height: 220px;
    }
    
}
