@media screen and (max-width: 900px){
    .ContainerForCalculator{
        display:flex;
        flex-direction: column;
background-color: azure;
        padding: 60px 0;
        justify-content: center;
        align-items: center;
    }
    .loanSelector{
        display: flex;
        flex-direction: column;
        height: fit-content;
        width: fit-content;
        box-shadow: 15px 12px 12px -5px rgba(0, 0, 0, 0.205);
        margin-left: 0;
        margin-top: 30px;
    }

    .items{
        margin: 0;
        padding: 20px 50px;
        width: 300px;
    }
}

@media screen and (max-width: 400px){
    .loanSelectorHeader, .items{
        padding: 10px 20px;
        margin: 0;
    }

    .selectLoan{
        font-size: larger;
        padding: 0 12px;
        width: 275px;
    }
    
}