.imageService{
    width: 800px;
    height: 620px;
    border:1px black solid ;
}
.textSize{
    font-size: small;
}

@media (max-width: 900px){
    .imageService{
        width: 600px;
    height: 320px;
    }
    
}

@media (max-width: 600px){
    .imageService{
        width: 330px;
    height: 150px;
    }
    
}