*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.toggleMenu{
    display: block;
    background-color: black;
    width: 35px;
    height: 7px;
    margin: 6px 0;
}
.nav_bar{
    display:none;
    margin-right: 50px;
    padding: 0 5px;
}

.bodyOfDocument{
    margin: 0 10px;
    width: auto;
    height: 100%;
    background-color: rgba(198, 198, 211, 0.241);
    padding-bottom: 50px;
}
.headOfDocument{
    position: sticky;
    top:0;
}

.contentOfHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(196, 167, 215);
    box-shadow: 0 6px 7px 0 rgb(106, 71, 131);
}

.logo{
   margin-left: 80px;
}
.image1_Logo{
    width: 150px;
}
.nav_menu{
    display: flex;
    margin-right: 80px;
    align-items: center;
    justify-content: end;
    width: 100%;
    padding: 15px 0;
}
.nav_link {
    list-style: none;
    display: inline-block;
    font-size: larger;
    font-weight: bolder;
}
.nav_link a{
    text-decoration: none;
    color: black;
    padding: 10px;
}
.nav_link a:hover{
    color: white;
    background-color: rgb(106, 51, 133);
   border-radius: 5px;
    transition: .3s ease;
   
}


.imageAndText{
    margin: 0 150px;
}

.info{
    float: left;
    background-color: blue;
    font-size: xx-large;
    width: 450px;
    height: 460px;
    border:  solid black;
    border-bottom-left-radius: 1.5em;
    border-top-left-radius: 1.5em;
}
.info h3{
    border-top-left-radius: 1.2em;
   text-align: center;
   padding: 10px 0;
    background-color: blueviolet;
    color: white;
    border-bottom: 1px solid black;
}

.info p{
    margin: 50px 0 0 70px;
    font-size: x-large;
    color: white;
    font-weight: bold;
}

.images{
    margin: 0 auto;
    background-color: rgb(106, 51, 133);
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 15px 15px 12px -5px rgba(74, 70, 70, 0.344);
}
.slideImage{
    width: 600px;
    height: 390px;
    border-radius: 2em;
    border: solid black;
}
.slideShowText p{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    color: white;
    font-size: large;
    font-weight: bold;
}

.text{
    font-size: larger;
    text-align: center;
    margin-bottom: 50px;
    align-content: center;
}
.text h1{
    font-size: 110px;
    padding: 20px 0;
    font-style: italic;
    text-decoration: dotted underline;
}
.text p{
font-weight: bold;
font-size: x-large;
}
.slSText{
    padding: 10px 50px;
}
.welcomeParagraph{
    padding-bottom: 50px;
    border-bottom: solid;
}
.typesOfLoans{
    position: sticky;
    bottom: 15px;
    display: flex;
    align-items: center;
    border-top: 2px solid;
    justify-content: center;
    background-color: rgb(171, 162, 162);
}
.typesOfLoans .loanType{
    list-style: none;
    display: inline-flex;
    padding: 10px 30px;
}
.typesOfLoans .loanType{
    font-size: x-large;
    font-weight: bolder;
}
.infoSection{
display: flex;
justify-content: space-between;
margin: 0 150px;

}

.requirements{ 
    width: fit-content;
    background-color: blue;
    border-bottom-right-radius: 3em;
    border-top-right-radius: 3em;
    color: white;
    border: solid black;
}
.requirements h3{
    border-top-right-radius: 45px;
    font-size: xx-large;
    text-align: center;
    padding: 15px 0;
     background-color: blueviolet;
     color: white;
     border-bottom: 1px solid black;
}
.requirements ul{
    list-style: none;
    margin: 0 30px 30px 70px;
    font-size: x-large;
    color: white;
    font-weight: bold;
}
.requirements ul li{
    padding-top: 45px;
}

.requirements ul li p{
    font-size: medium;
padding-left:20px;
}
footer{
     background-color: #24292f;
    margin: 0 10px;
}
.sMedia{
    display: flex;
    justify-content: center;
}
.sMedia ul{
    list-style: none;
}
.sMedia ul li{
    float: left;
    margin: 25px 50px;
}
.sMedia ul li a{
 color: white;
 font-weight: normal;
 text-decoration: none;
}
.sMedia ul li a:hover{
    color:  blueviolet;
   }
.contactInfo{
    clear: both;
}
.footer{
    clear: both;
    text-align: center;
    font-style: italic;
    background-color: rgb(109, 86, 131);
}






